<form action="/cities/{{city.id}}/edit" method="POST">
  <input name="name" value="{{city.name}}"/>
  <input name="population" value="{{city.population}}"/>
  <button type="submit">Edit</button>
</form>
